@page
@model TürkkannMakinaa.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12">

        <p>        HİZMETLERİMİZ   </p>
        <p>        asdasdasdasdasdasd    </p>
        <p>        asdasdasdasdasdasd    </p>
        <p>        asdasdasdasdasdasd    </p>
        <p>        asdasdasdasdasdasd    </p>
        <p>        asdasdasdasdasdasd    </p>
        <p>        asdasdasdasdasdasd    </p>
        <p>        asdasdasdasdasdasd    </p>
        <p>        asdasdasdasdasdasd    </p>
        <p>        asdasdasdasdasdasd    </p>
        <p>        asdasdasdasdasdasd    </p>
        <p>        asdasdasdasdasdasd    </p>
        <p>        asdasdasdasdasdasd    </p>
        <p>        asdasdasdasdasdasd    </p>
        <p>        asdasdasdasdasdasd    </p>
        <p>        asdasdasdasdasdasd    </p>
        <p>        asdasdasdasdasdasd    </p>
        <p>        asdasdasdasdasdasd    </p>
        <p>        asdasdasdasdasdasd    </p>
        <p>        asdasdasdasdasdasd    </p>
        <p>        asdasdasdasdasdasd    </p>
        <p>        asdasdasdasdasdasd    </p>
        <p>        asdasdasdasdasdasd    </p>
        <p>        asdasdasdasdasdasd    </p>
        <p>        asdasdasdasdasdasd    </p>
        <p>        asdasdasdasdasdasd    </p>
        <p>        asdasdasdasdasdasd    </p>
        <p>        asdasdasdasdasdasd    </p>
        <p>        asdasdasdasdasdasd    </p>
        <p>        asdasdasdasdasdasd    </p>
        <p>        asdasdasdasdasdasd    </p>
        <p>        asdasdasdasdasdasd    </p>

    </div>
</div> <!-- /container -->
