@page
@model TürkkannMakinaa.ContactModel
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}





<div class="container">
  

    <div class="row" id="googleMap" style="width:100%;height:400px;"></div>

    <div class="row">
        <div class="contact-form">
            <div class="one_third last" style="text-align:center">
                <h4 class="title" style="color: #343a40"><span>Bize Ulaşın</span></h4>
                <p>
                    Vatan Mah. Ar Sk. <br>
                    Güldallar11 San. Sit. No:37<br>
                    Bayrampaşa/İstanbul
                </p>
                <p>
                    <strong>Telefon &nbsp;&nbsp;:</strong>&nbsp;&nbsp; (0532) 391 60 30
                    <br />
                    <strong>Sabit Telefon  &nbsp;:</strong>&nbsp;&nbsp;+90(212) 613 89 91
                </p>
                <p>
                    <br>
                    <a target="_blank" rel="noopener">www.turkkanmakine.com</a>
                </p>
                <h4 class="title" style="color: #343a40"><span>Çalışma Saatleri</span></h4>
                <p>
                    <strong>Hafta İçi&nbsp;:&nbsp;</strong>08:00-18:30
                    <br>
                    <strong>Cumartesi&nbsp;:&nbsp;</strong> 08:00-13:00
                </p>

            </div>
        </div>
    </div>


</div>









